*a{
    font-size: 0.9vw;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(223, 223, 223);
    font-size:2vw;
    font-weight: bolder;

}

h2,
strong,
.title {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(223, 223, 223);
    font-size: 1vw;
    font-weight: bolder;

}


h4 {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(223, 223, 223);
    font-size: 0.9vw;
    font-weight: bolder;

}

p,
li,
td,
button {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(223, 223, 223);
    font-size: 0.8vw;
}


div.AL p,
div.NL p {
    background-color: rgba(119, 136, 153, 0.335);
    text-align: justify;
    font-style: oblique;
    font-weight: bold;
}

td {
    text-align: center;
}

.footer{
    font-size: 2vw;
}

#liga {
    width: 600px;
    height: 350px;
}

#beisebol_pro,
#origem {
    width: 650px;
    height: 450px;
}
#uniform {
    width: 600px;
    height: 350px;
}

#uniformset {
    width: 400px;
    height: 250px;
}
#uniformshorts{
    width: 400px;
    height: 480px;
}

#players {
    width: 500px;
    height: 350px;
}

#tbplayers {
    width: 270px;
    height: 200px;
}