*a {
    font-size: 0.9vw;
}

body {
    display: flex;
    flex-direction: column;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(223, 223, 223);
    font-size: 2vw;
    font-weight: bolder;

}

h2,
strong,
.title {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(223, 223, 223);
    font-size: 1vw;
    font-weight: bolder;

}

.h2Mencoes {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(223, 223, 223);
    font-size: 1vw;
    font-weight: bolder;
    padding-bottom: 100;
    float: left;

}

h4 {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(223, 223, 223);
    font-size: 0.9vw;
    font-weight: bolder;

}

input {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-size: 0.8vw;
}

p,
li,
ul,
td,
input button {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(223, 223, 223);
    font-size: 1vw;
}

p {
    text-align: justify;

}

.p-pag4 {
    vertical-align: middle;
    text-align: justify;
    line-height: normal;
    padding: 1rem;
}

.p-infoLeft {
    border: 30px;
    padding: 20px;
    float: left;
    vertical-align: middle;
    text-align: justify;
    line-height: normal;
    padding: 1rem;
}

.p-infoRight {
    float: right;
    border: 30px;
    padding: 20px;
    vertical-align: middle;
    text-align: justify;
    line-height: normal;
    padding: 1.5rem;
}

div.AL p,
div.NL p {
    background-color: rgba(119, 136, 153, 0.335);
    text-align: justify;
    font-style: oblique;
    font-weight: bold;
    font-size: 0.8vw;
    bottom: 0
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 90%;

}

td {
    text-align: center;

}

.t1 {
    text-align: center;
    padding-top: 2rem;
    padding-left: 5rem;
    border-spacing: 2px;
}

.footer {
    font-size: 2vw;
}


#beisebol_pro,
#origem {
    width: 10vw;
    height: 10vw;
}

#uniform {
    width: 30vw;
    height: 20vw;
    padding: 10px;
}

.uniformset {
    float: right;
    width: 20vw;
    height: 25vw;
    padding: 10px;
}

.players {
    width: 30vw;
    height: 20vw;
    padding: 10px;
}

#uniformshorts {
    width: 15vw;
    height: 20vw;
}

.tbplayers {
    width: 60vw;
    height: 35vw;
    align-content: center;
}

.p-image {
    width: 30vw;
    height: 20vw;
    padding: 10px;
}

.p-imageRight {
    float: right;
    width: 30vw;
    height: 20vw;
    padding: 10px;
    margin-right: 1vw;

}

figure {
    float: right;
    width: 30vw;
    height: 20vw;
    padding: 10px;
    margin: 1rem 0;


}

.p-imageLeft {
    float: left;
    width: 30vw;
    height: 20vw;
    padding: 10px;
    margin: 0;
}

.p-imageLeft1 {
    float: left;
    width: 23vw;
    height: 15vw;
    padding: 10px;
}

.p-imageRight1 {
    float: right;
    width: 30vw;
    height: 20vw;
    padding: 10px;
    margin-right: 0vw;
}

.p-imageRight2 {
    float: right;
    width: 25vw;
    height: 15vw;
    padding: 2px;
    margin-right: 0.5vw;
    margin-left: 1vw;
}

.p-infoLeftLista {
    border: 20px;
    padding: 5px;
    vertical-align: baseline;
    float: left;
    text-align: justify;
    line-height: normal;
    padding: 2rem;
}

.h2Left {

    vertical-align: middle;
    float: left;
    text-align: justify;
    line-height: normal;
    padding: 1rem;

}

#subtitulo3,
#subtitulo5,
#subtitulo4,
#subtitulo5 {
    padding: 10px;

}

#subtitulo6 {
    padding: 10px;

}

.points {
    float: right;
    width: 15vw;
    height: 15vw;
    padding: 0.5vw;
    margin-right: 2vw;

}

.this {
    float: center;
    align-content: center;
    position: fixed;
}


@media (min-width: 480px) {
	
   li{
    font-size: 10px;
   }
}