html {
    background-color: black;
}

a:link {
    color: white;
}

a:visited {
    color: darkgrey;
}

a:hover {
    color: greenyellow;
}

#homepage {
    top: 0;
    padding: 10px;
    width: 100%;
    position: fixed;
    height: auto;
    background-color: rgba(128, 128, 128, 0.671);
    border-style: double;
    border-top: 0;  
    border-left: 0;
    border-right: 0;
    border-color: white;
    margin-top: 0;
    top: 0;
    font-size: 200px;
    text-align:left;
    text-align: center;
}

.paginas {
    bottom: 0;
    position: fixed;
    text-align: left;

}

/*
#origemimage {
    background-image: url("./SRC/imagens/Baseball1866.JPG");
    float: right;
    opacity: 90%;
    width: 350px;
    height: 250px;
}

#beisebol_pro_image {
    background-image: url("./SRC/imagens/beisebol_profissional.jpg");


}
*/

h1,
h2,
h3,
h4 {
    color: rgb(28, 67, 183);
    font-family: "Garamond", Bookman, Times New Roman, serif;


}

.footer{
    bottom: 0;
    width: 100%;  
}

.supersidenav {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden; 
    padding-top: 20px;
    background-color: #111;
}

.supersidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}

.supersidenav a:hover {
    color: #f1f1f1;
}

.body{
    margin-left: 13.5%;
    margin-top: 14%;
}

footer{
    margin-left: 13.5%;
}