* {
    background-color: black;
}

a:link {
    color: white;
}

a:visited {
    color: darkgrey;
}

a:hover {
    color: greenyellow;
}

li a {
    display: block;
    padding: 8px 16px;
    text-decoration: none;
}

.paginas {
    bottom: 0;
}

  ul {
    list-style-type:none;
    margin: 0;
    padding:0;
    width: 10%; 
    position: fixed;
    height:100%;
    overflow: auto;
    background-image:url("./SRC/imagens/banner_2.jpg");
  }

.body {
    position: static;
    align-content: center;
    width: 90%;
    height: 90%;
    padding: 10px;
    margin: 0;
}

#bannerimage {
    width: 100%;
    background-image: url("./SRC/imagens/banner.jpg");
    background-position: center;
    opacity: 80%;
    height: 305px;
    background-color: #000302;
}

/*
#origemimage {
    background-image: url("./SRC/imagens/Baseball1866.JPG");
    float: right;
    opacity: 90%;
    width: 350px;
    height: 250px;
}

#beisebol_pro_image {
    background-image: url("./SRC/imagens/beisebol_profissional.jpg");


}
*/

h2,
h3,
h4 {
    color: rgb(28, 67, 183);
    font-family: "Garamond", Bookman, Times New Roman, serif;


}