img {
    max-width: 100%;
  }

#uniform {
    width: 600px;
    height: 350px;
}

#uniformset {
    width: 400px;
    height: 250px;
}
#uniformshorts{
    width: 400px;
    height: 480px;
}

#players {
    width: 500px;
    height: 350px;
}

table.center {
    margin-left:auto; 
    margin-right:auto;
}