html {
    background-color: black;
    viewport-fit: auto;
    font-size: calc(15px + 0.1vw);
}
body {
	margin: 0px;
	padding: 0px;
	background: #000000 repeat;
	font-family: 'Source Sans Pro', sans-serif;
	color: rgba(0,0,0,.8);
}


h1, h2, h3 {
	margin: 0;
	padding: 0;
	text-transform: uppercase;
}

h2 {
	padding: 0px 0px 30px 0px;
}

p, ol, ul {
	margin-top: 0px;
}

p {
	line-height: 180%;
}

a img {
	border: none;
}

p{
	color: white;
}

ul{
	text-align: center;
}


/*********************************************************************************/
/* Media                                                                   */
/*********************************************************************************/

  
  @media (min-width: 1200px) {
	h1 {
	  font-size: 4rem;
	}
  }
/*********************************************************************************/
/* Image Style                                                                   */
/*********************************************************************************/

	.image
	{
		display: inline-block;
		border: 1px solid rgba(0,0,0,.1);
	}
	
	.image img
	{
		display: block;
		width: 100%;
	}
	
	.image-full
	{
		display: block;
		width: 100%;
		margin: 0 0 3em 0;
	}
	
	.image-left
	{
		float: left;
		margin: 0 2em 2em 0;
	}
	
	.image-centered
	{
		display: block;
		margin: 0 0 2em 0;
	}
	
	.image-centered img
	{
		margin: 0 auto;
		width: auto;
	}


hr {
	display: none;
}

/** WRAPPER */
/** HEADER */


#wrapper {
	background: rgb(0, 0, 0);
	margin: 0px 20px;
}

.container {
	
	width: fit-content;	
	margin: 0px auto;
	height: fit-content;
}


#header-wrapper
{
	background:url(imagens/banner.jpg);
	background-size: cover;
}

#header {
	position: relative;
	overflow: hidden;
	height: 600px;
}

#social
{
	position: absolute;
	top: 4em;
	right: 0;
}

/** LOGO */

#logo {
	position: absolute;
	top: 3em;
	left: 3rem;
}

#logo h1, #logo p {
	margin: 0;
	padding: 0;
}

#logo h1 {
	letter-spacing: -1px;
	text-transform: lowercase;
	font-size: 3.5em;
	padding-left: 50px;
	padding-top: 25px;
	color: rgb(173, 173, 173);
}

#logo p {
	padding: 0px;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	font-size: 0.9em;
	color: #ffffff;
}

#logo p a {
	color: #ffffff;
}

#logo a {
	border: none;
	background: none;
	text-decoration: none;
	color: rgb(255, 255, 255);
}

/** MENU */

#menu {
	width: 100%; 
	overflow: hidden;
	background: #464646;
}

#menu ul {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px;
	list-style: none;
	line-height: normal;
}

#menu li {
	display: inline-block;
}

#menu a {
	display: block;
	padding: 0px 40px 0px 40px;
	line-height: 70px;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	font-size: 16px;
	font-weight: 200;
	border: none;
}

a:link{
	color: white;
	text-decoration: none;
}

a:hover{
	text-decoration: none;
	color:greenyellow;
} 

a:visited{
	color: rgba(231, 231, 229, 0.801);
}

a:visited:hover{
	color:greenyellow;
	text-decoration: none;
}

/** PAGE */

#page {
	overflow: hidden;
	padding: 5em 0em;
}

	#page img
	{
		margin-bottom: 1em;
	}

	#page .title
	{
		margin-bottom: 2em;
	}

	#page .title h2
	{
		font-size: 1.5em;
		font-weight: 400;
		color: white;
	}
	
	#page .title .byline
	{
		display: block;
		padding-bottom: 2em;
		color: white;
	}

/*********************************************************************************/
/* Portfolio                                                                     */
/*********************************************************************************/

	#portfolio-wrapper
	{
		overflow: hidden;
		padding: 2em 0em;
		background: rgba(167, 167, 167, 0.02);
		background-image: url(images/overlay.png);
		background-repeat: repeat;
		border-top:solid rgb(204, 204, 204);
		background-color: #464646;
	}
	
/*********************************************************************************/
/* Colunas                                                                       */
/*********************************************************************************/
	
	.column1,
	.column2,
	.column3,
	.column4
	{
		width: 282px;
	}
	
	.column1,
	.column2,
	.column3
	{
		float: left;
		margin-right: 24px;
	}

/*********************************************************************************/
/* Heading Titles                                                                */
/*********************************************************************************/

	.title
	{
		margin-bottom: 3em;
	}
	
	.title h2
	{
		margin: 0;
		padding: 0;
		font-size: 2.8em;
		color: rgba(255,255,255,0.9);
	}
	
	.title .byline
	{
		padding-top: 0.50em;
		letter-spacing: 0.15em;
		text-transform: uppercase;
		font-weight: 400;
		font-size: 1.1em;
		color: #b9b9b9;
	}

/*********************************************************************************/
/* Heading Titles                                                                */
/*********************************************************************************/

.contact{
	display: block;
	padding: 40px 40px 40px 40px;
	line-height: 70px;
	text-transform: uppercase;
	text-align: center;
	font-size: 16px;
	font-weight: 200;
	border: none;
	margin: 5px 5px 5px 5px;
	list-style: none;
	line-height: normal;
	text-align: right;
}

.contact2{
	display: block;
	padding: 40px 40px 40px 0px;
	line-height: 70px;
	text-transform: uppercase;
	text-align: center;
	font-size: 16px;
	font-weight: 200;
	border: none;
	margin: 5px 5px 5px 5px;
	list-style: none;
	line-height: normal;
	text-align: left;
}

