html {
    background-color: black;
    viewport-fit: auto;
    font-size: calc(15px + 0.1vw);
}

img {
    max-width: 100%;
  }

a:link {
    color: white;
}

a:visited {
    color: darkgrey;
}

a:hover {
    color: greenyellow;
}

.paginas {
    bottom: 0;
    position: fixed;
    text-align: left;

}

#titulo{
    height:fit-content;
    width:fit-content;
    font-weight: 1000;
    text-align:left;
}

/*
#origemimage {
    background-image: url("./SRC/imagens/Baseball1866.JPG");
    float: right;
    opacity: 90%;
    width: 350px;
    height: 250px;
}

#beisebol_pro_image {
    background-image: url("./SRC/imagens/beisebol_profissional.jpg");


}
*/
.highlight{
	text-align: center;
    margin-top: 0px;
    text-decoration: none;
    text
}

#body a {
	display: block;
	padding: 0px 40px 0px 40px;
	line-height: 70px;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	font-size: 16px;
	font-weight: 200;
	border: none;
}

.body{
    width: 100%; 
	overflow: hidden;
	background: #464646;
}

.body ul {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px;
	list-style: none;
	line-height: normal;
}

.body li {
	display: inline-block;
}

#container {
	width: fit-content;	
	margin: 0px auto;
	height: fit-content;
}

h1 {
    font-size: 2em;
  }

h2 {
 font-size: 1.5em;
  }

p {
 font-size: 1em;
  }

h1,
h2,
h3,
h4 {
    color: rgb(28, 67, 183);
    font-family: "Garamond", Bookman, Times New Roman, serif;


}

.footer{
    bottom: 0;
    width: 100%;  
}

.supersidenav {
    height: 100%;
    width: 13.5%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x:hidden;
    white-space:normal;
    padding-top: 20px;
    background-color: rgb(26, 26, 26);
}

.supersidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}

.supersidenav a:hover {
    color: #f1f1f1;
}

.body{
    margin-left: 13.5%;
}

footer{
    margin-left: 13.5%;
}

#portfolio-wrapper
	{
		overflow: hidden;
		padding: 2em 0em;
		background: rgba(167, 167, 167, 0.02);
		background-image: url(images/overlay.png);
		background-repeat: repeat;
		border-top:solid rgb(204, 204, 204);
		background-color: #464646;
	}

.container {

    width: fit-content;	
    margin: 0px auto;
    height: fit-content;
}

.title
{
    margin-bottom: 3em;
}

.title h2
{
    margin: 0;
    padding: 0;
    font-size: 2.8em;
    color: rgba(255,255,255,0.9);
}

.title .byline
{
    padding-top: 0.50em;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 1.1em;
    color: #b9b9b9;
}

body {
	margin: 0px;
	padding: 0px;
	background: #000000 repeat;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 12pt;
	font-weight: 400;
	color: rgba(0,0,0,.8);
}

